Options +Includes +FollowSymLinks -Indexes

ErrorDocument 404 /cgi-bin/viewer.pl/__ERROR404

RewriteBase /
RewriteEngine on

RewriteRule ^data/?$ /_DATAFILES

RewriteRule ^(view/.*)$ /cgi-bin/viewer.pl/$1
RewriteRule ^(_.*)$ /cgi-bin/viewer.pl/$1
RewriteRule ^$ /cgi-bin/viewer.pl
RewriteRule ^admin/?$ /cgi-bin/admin/admin.pl
RewriteRule ^user/?$ /cgi-bin/user/user.pl
RewriteRule ^gate/?$ /cgi-bin/gate/gate.pl
RewriteRule ^gate/(_.*)$ /cgi-bin/gate/gate.pl/$1
RewriteRule ^vcms/?$ /cgi-bin/vcms/cmlsrv.pl


### VCMS START ###
### VCMS END ###
